@model IEnumerable<GiangAsm.Models.Book>
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-6">
                <div class="card" style="width: 18rem;">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <a href="#" class="btn btn-primary">Detail</a>
                        <a asp-action="AddToCart" asp-route-isbn="@item.Isbn" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
                <br>
            </div>
        }
    </div>
</div>
